div(align='center' id='im')
    img.image(src = 'https://localhost:3000/'+'#{x.img}')
    div(class = 'buttons' align='center')
        button(class='editP') Edit picture
        |
        button(class='deleteP' id='deleteP') Delete picture