html
    head
        meta(charset='utf-8')
        title Auction
        style
            include ../public/less/style.css
        script
            include ../node_modules/jquery/dist/jquery.min.js
    body
        h1 Auction