div(class = 'paint' id='addPartmod')
    div(align='left' class = 'info')
        div(class='railway')
            div(class="addForm")
                p
                    label Name
                    input(class = 'edit' type='text')
                p
                    label Location
                    input(class = 'edit' type='text')
                p
                    label Latitude
                    input(class = 'edit' type='text')
                p
                    label Longitude
                    input(class = 'edit' type='text')
            div
                button(class='partaddY') Yes
                button(class='addN') Cancel