include main
    include links
    include settings
    div(id="mainchat")
        p.time
        p.end
        p.cur
        div(id="chat")
            ul(id="messages")
        form(action="")
            input( id="m" placeholder="type your message here...")
            button Send