html
    head
        meta(charset='utf-8')
        title Auction
        script(src="/socket.io/socket.io.js")
        link( rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        style
            include ../public/less/style.less
        script
            include ../node_modules/jquery/dist/jquery.min.js
        script( src="https://code.jquery.com/jquery-1.12.4.js")
        script( src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script
            include ../public/src/admin.js
            include ../public/src/jqr.js
    body
        h1 Auction