style
    include ../public/less/table.css
    include ../public/less/link.css
    include ../public/less/style.css
script
    include ../node_modules/jquery/dist/jquery.min.js
    include ../public/src/jqr.js
include main
include links